  .phonebook{
    margin: 10px;
  }
  .form {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    /* border-style: solid;
    border-color: rgb(148, 142, 142); */
    /* padding: 30px; */
  }
  .formLabel {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .formInput {
    /* display: flex;
    margin-top: 10px;
    border-radius: 5px; */

    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 10px;
    width: 95%;
    border: 1px solid rgba(33,33,33,.2);
    /* border-radius: 4px; */
    cursor: pointer;
    /* font-size: 15px; */
}

.formInput:focus {
  outline-color:blue;
}




  
  .buttonSubmit {
    /* margin-right: auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
     background: cornflowerblue; */

     margin: auto;
     width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background: cornflowerblue;
  }